<div class="search-wrap">
  <input type="text" placeholder="Search.." [(ngModel)]="searchInput" (ngModelChange)="this.inputUpdate.next($event)" />
</div>

<main class="flex">
  <div *ngIf="!loading" class="main-wrap flex">
    <div class="pokemon-list flex">
      <span *ngFor="let p of POKEMANS; let i = index">
        <article *ngIf="i<=position">
          <a class="card"
            [routerLink]="['./', p.id]" >
            <div class="sprite" [style.background]="'url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + p.id + '.png)'"></div>
            <h1 class="name">{{p.name | replace: {'-m': '', '-f': ''} | titlecase}}</h1>
            <span class="pokemon-id">{{p.id | replace }}</span>
          </a>
        </article>
      </span>
    </div>
    <div *ngIf="position < POKEMANS.length" class="btn-wrap flex">
      <button class="btn-load" (click)="loadPokemon()">Load more</button>
    </div>
  </div>

</main>

<router-outlet></router-outlet>