/**
 * Search-bar
 */
.search-wrap {
  background: transparent;
  margin: 20px 50px;
}

.search-wrap input {
  box-sizing : border-box;
  border: 2px dotted lightgray;
  border-radius: 50px;
  padding: 20px; 
  font-size: 25px; 
  color: gray; 
  width: 100%;
}

.search-wrap input:focus {
  box-shadow: 0 0 6px gray;
}

/**
 * Pokemon list
 */
main {
  width: 100%;
  justify-content: center;
}

.main-wrap {
  flex-direction: column;
}

.pokemon-list {
  max-width: 1150px;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  background: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 4px lightgray;
}

.card {
  position: relative;
  display: block;
  height: 150px;
  width: 150px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}

article:hover {
  background: #efefef;
}

.sprite {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -48px; 
  margin-top: -48px;
  height: 96px;
  width: 96px;
}

.pokemon-id {
  font-family: monospace;
}

.name {
  position: absolute;
  font-size: 20px;
  margin: 0;
  left: 5%;
  bottom: 5%;
}

.btn-wrap {
  justify-content: center;
  margin: 20px;
}

.btn-load {
  cursor: pointer;
  padding: 8px;
  background: transparent;
  border: 2px solid gray;
  border-radius: 4px;
  font-size: 20px;
}

.btn-load:hover {
  box-shadow: 0 0 6px gray;
}
