<div class="overlay flex" *ngIf="pokemon; let pokemon" (click)="close()">
  <div class="flex box" (click)="$event.stopPropagation()">
    <nav class="top-bar flex">
      <h1 class="pokemon-name">{{pokemon.name | replace: { '-m': '', '-f': '' } | titlecase}} #{{pokemon.id}}</h1>
      <button class="btn-close" type="button" (click)="close()">x</button>
    </nav>
    <article>
      <div class="avatar">
        <img class="avatar-img" height="170px" src="{{pokemon.sprites.front_default}}"/>
      </div>
      <br>
      <hr/>
      <div class="details flex">
        <section class="flex">
          <div class="dimensions">
            <strong>Height:</strong> {{pokemon.height / 10}} m
            <strong>Weight:</strong> {{pokemon.weight / 10}} kg
          </div>
          <div class="xp">
            <strong>Base XP:</strong> {{pokemon.base_experience}}
          </div>
        </section>

        <section class="flex">
          <div class="abilities">
            <h2>Abilities</h2>
            <div *ngFor="let a of pokemon.abilities">
              <strong>Slot {{a.slot}}:</strong>
              <span class="ability">{{a.ability.name | titlecase}}</span>
            </div>
          </div>
          <div class="types">
            <h2>Types</h2>
            <span *ngFor="let t of pokemon.types">
              <span class = "{{t.type.name}} typing">
              {{t.type.name}}
              </span>
            </span>
          </div>
        </section>
        
        <section class="flex">
          <div class="stats">
            <h2>Base stats</h2>
            
            <div *ngFor="let s of pokemon.stats">
              <Strong>{{s.stat.name | titlecase }}:</Strong>
              <div class="flex">
                <meter value="{{s.base_stat}}" max="255"></meter>
                <span class="meter-value">{{s.base_stat}}</span>
              </div>
            </div>
          </div>

          <div class="sprites">
            <h2>Sprites</h2>
            <img *ngIf="pokemon.sprites.back_default" class = "sprite-img" [src]="pokemon.sprites.back_default"/>
            <img *ngIf="pokemon.sprites.back_female" class = "sprite-img" [src]="pokemon.sprites.back_female"/>
            <img *ngIf="pokemon.sprites.back_shiny" class = "sprite-img" [src]="pokemon.sprites.back_shiny"/>
            <img *ngIf="pokemon.sprites.back_shiny_female" class = "sprite-img" [src]="pokemon.sprites.back_shiny_female"/>
            <img *ngIf="pokemon.sprites.front_default" class = "sprite-img" [src]="pokemon.sprites.front_default"/>
            <img *ngIf="pokemon.sprites.front_female" class = "sprite-img" [src]="pokemon.sprites.front_female"/>
            <img *ngIf="pokemon.sprites.front_shiny" class = "sprite-img" [src]="pokemon.sprites.front_shiny"/>
            <img *ngIf="pokemon.sprites.front_shiny_female" class = "sprite-img" [src]="pokemon.sprites.front_shiny_female"/>
          </div>
        </section>
        
        <section class="flex">
          <div>
            <h2>Moves</h2>
            <div class="moves flex">
              <span *ngFor="let m of pokemon.moves">
                {{m.move.name | replace: { '-': ' ' } | titlecase}}
              </span>
            </div>
          </div>
        </section>
        
      </div>
    </article>
  </div>
</div>