body {
  overflow: hidden;
}

.avatar img {
  max-width: 400px;
  max-height: auto;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.box {
  flex-direction: column;
  margin: 20px;
  padding: 0;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 6px;
  background-color: white;
  font-size: 16px;
  width: 50%;
  min-width: 360px;
}

.top-bar {
  background:  #ccc;
  flex-direction: row;
  width: 100%;
}

.pokemon-name {
  flex: 1;
  text-align: center;
}

.btn-close {
  cursor: pointer;
  position: absolute;
  background: transparent;
  border-radius: 5px;
  font-size: 30px;
  color: white;
  border: 0px;
  right: 0;
  top: 0;
}

.btn-close:hover {
  background: lightgray;
}

article {
  padding: 15px;
}
.avatar {
  height: 190px;
  width: 190px;
  background-color: white;
  border-radius: 300px;
  box-shadow:0 0 3px 10px rgb(183, 176, 246);  
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align:center;
  overflow: auto;
}

.details {
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  margin: 0;
  margin-bottom: 12px;
}

section {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

section > div {
  flex: 1;
  text-align: center;
  box-shadow: 0 0 4px lightgray;
  padding: 9px;
  margin: 10px;
}

.moves {
  flex-wrap: wrap;
  justify-content: space-between;
}

.moves span {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 6px;
  margin: 4px; 
}

.ability {
  background: lightgray;
  color: black;
  font-size: 1em;
  display: inline-block; 
  text-align: left;
  margin: 0 5px;
  padding: 5px 10px;
  line-height: 1.5em;
}

.abilities{
  text-align: center;
}
.typing{
  margin: 0 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 5px;
  font-weight: 1000;
  justify-content:space-between;
  font-size: 1.5em;
  width: 150px;
  box-shadow: 0 0 2px #00000055;
  display: inline-block;
  text-align: center;
  text-shadow: 2px 1px black;
  color: white;
}

.poison{
  background-color: #A33EA1;
}
.grass{
  background-color: #7AC74C;
}
.fire{
  background-color: #EE8130;
}
.water{
  background-color: #6390F0;
}
.flying{
  background-color: #A98FF3;
}
.bug{
  background-color: #A6B91A;
}
.normal{
  background-color: #A8A77A;
}
.electric{
  background-color: #F7D02C;
}
.ground{
  background-color: #E2BF65;
}
.fairy{
  background-color: #D685AD;
}
.fighting{
  background-color: #C22E28;
}
.psychic{
  background-color: #F95587;
}
.rock{
  background-color: #B6A136;
}
.ghost{
  background-color: #735797;
}
.ice{
  background-color: #96D9D6;
}
.dragon{
  background-color: #6F35FC;
}
.dark{
  background-color: #705746;
}
.steel{
  background-color: #B7B7CE;
}

.stats > div {
  text-align: left;
}

meter {
  width: 300px;
  height: 20px;
}

.meter-value {
  content : attr(data-value);
  top: 2px;
  left: -295px;
  position: relative;  
}
